/* Manrope font  */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

/* font-family: 'Manrope', sans-serif; */
/* Mabry Pro font  */
@font-face {
    font-family: 'MabryPro-reg';
    src: url('/css/fonts/MabryPro-Regular.ttf');
}

@font-face {
    font-family: 'MabryPro-med';
    src: url('/css/fonts/MabryPro-Medium.ttf');
}

@font-face {
    font-family: 'MabryPro-bold';
    src: url('/css/fonts/MabryPro-Bold.ttf');
}

@font-face {
    font-family: 'MabryPro-black';
    src: url('/css/fonts/MabryPro-Black.ttf');
}

/* Power Grotesk font  */
@font-face {
    font-family: 'PowerGrotesk-reg';
    src: url('/css/fonts/PowerGrotesk-Regular.ttf');
}

@font-face {
    font-family: 'PowerGrotesk-med';
    src: url('/css/fonts/PowerGroteskTRIAL-Medium.otf');
}

@font-face {
    font-family: 'PowerGrotesk-bold';
    src: url('/css/fonts/PowerGroteskTRIAL-Bold.otf');
}

@font-face {
    font-family: 'PowerGrotesk-heavy';
    src: url('/css/fonts/PowerGroteskTRIAL-Heavy.otf');
}

body {
    background-color: #FEFEFF;
}

.navbar {
    width: 100%;
    padding-right: 0;
    border-bottom: 2px solid #010100;
    border-top: 2px solid #010100;
}

.navbtn {
    font-family: MabryPro-reg;
    color: #010100;
    font-size: 16px;
}

/* resume button */
.ResBtn {
    font-family: MabryPro-reg;
    padding: 24px 54px;
    font-size: 16px;
    color: #FEFEFF;
    background: #010100;
    border-left: 2px solid #010100;
}

.ResBtn:hover {
    color: #010100;
    background-color: #FF90E7;
    transition: .2s ease-in-out;
}

/* link hover on navbar buttons */
.link-underline {
    padding: 1.6px 0;
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000);
    background-size: 0 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .2s ease-in-out;
}

.link-underline:hover {
    background-size: 100% 1px;
    background-position: 0 100%
}

/* grid halves in hero section */
.hero-section .bg-white {
    /* background-color: #FF90E7; */
    border-right: 2px solid #010100;

}

.bg-white .p1 {
    font-family: PowerGrotesk-reg;
    font-size: 52px;
    line-height: 66px;
}

.bg-white .p1 .s1 {
    color: #AB0090;
    font-family: PowerGrotesk-heavy;
}

.s2 {
    color: #22A195;
    font-family: PowerGrotesk-Heavy;
}

.p2 {
    font-family: PowerGrotesk-med;
    font-size: 28px;
    line-height: 36px;
}

.p2 span {
    color: #22A195;
}

.bg-green {
    background-color: #22A195;
}

.rec {
    /* position: absolute; */
    width: 290px;
    height: 400px;
    background: #90FFE4;
}


.btn {
    font-family: PowerGrotesk-med;
    font-size: 24px;
    padding: 6px 12px;
    color: #010100;
    border: 2px solid #010100;
    border-radius: 4px;
    background-color: #FEFEFF;
}

.btn:hover {
    filter: drop-shadow(4px 4px 0 #010100);
    transition: .2s ease-in-out;

}

/* eperience section  */
.title {
    font-family: PowerGrotesk-reg;
    font-size: 52px;
    color: #010100;
}

.title span {
    font-family: PowerGrotesk-heavy;
    color: #AB0090;
}

.Exp-para {
    font-family: PowerGrotesk-reg;
    font-size: 20px;
}

.Exp-para span {
    font-family: PowerGrotesk-heavy;
    color: #22A195;
}

.bdr {
    border-left: 3px dashed #0D0E10;
    height: 400px;
}

.dotInPink {
    background-color: #AB0090;
}

.Exp-time {
    font-family: PowerGrotesk-reg;
    font-size: 22px;
    color: #010100;
    line-height: 26px;
}

.Exp-card {
    background: #FEFEFF;
    border: 2px solid #010100;
    border-radius: 4px;
    padding: 26px;
}

.Exp-card:hover {
    box-shadow: 6px 6px 0px #000000;
    transition: .2s ease-in-out;
}

.Exp-card-position {
    font-family: MabryPro-black;
    font-size: 22px;
    color: #010100;
}

.Exp-card-company {
    font-family: PowerGrotesk-reg;
    font-size: 18px;
    color: #22A195;
}

.Exp-card-details {
    font-size: 18px;
    line-height: 22px;
    font-family: PowerGrotesk-reg;
    color: #010100;
}

.skill-tag {
    font-family: MabryPro-med;
    font-size: 12px;
    padding: 5px 10px;
    background: #FEFEFF;
    border: 2px solid #010100;
    border-radius: 60px;
}

/* contact */

.inp-box {
    background: rgba(34, 161, 149, 0.25);
    border: 2px solid #010100;
    border-radius: 2px;
    height: 40px;
    width: 472px;
    padding: 16px 250px 16px 16px;
    font-family: MabryPro-bold;
    font-size: 14px;
    color: #010100;
}

.inp-box:focus,
.inp-box::after {
    outline: none;
    color: #010100;
}

.inp-textbox {
    background: rgba(34, 161, 149, 0.25);
    border: 2px solid #010100;
    border-radius: 2px;
    width: 472px;
    padding: 16px 250px 16px 16px;
    font-family: MabryPro-bold;
    font-size: 14px;
    color: #010100;
}

.inp-textbox:focus,
.inp-textbox::after {
    outline: none;
    color: #010100;
}

.contact-box {
    background: #FEFEFF;
    border: 2px solid #010100;
    border-radius: 2px;
    padding: 48px;
}

.send-button {
    font-family: MabryPro-bold;
    font-size: 20px;
    padding: 6px 24px;
    border: 2px solid #010100;
    border-radius: 60px;
}

.send-button:hover{
    box-shadow: 4px 4px 0px #000000;

}


/* portfolio */
.card{
    background: #FEFEFF;
    border: 2px solid #010100;
    border-radius: 4.5px;
}

.card .card-img{
   border-top-left-radius: 2px;
   border-top-right-radius: 2px;
    border-bottom: 2px solid #010100;
}

.card:hover{
    box-shadow: 4px 4px 0px #000000;
}

.card-heading{
    font-family: MabryPro-med;
    font-size: 26px;
}
.card-text{
    font-family: MabryPro-reg;
    font-size: 16px;
    line-height: 20px;
}

.read-btn{
    font-family: MabryPro-med;
    font-size: 18px;
    text-decoration: none;
}